*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    margin:0;
    padding:0;
}
.container{
    margin:50px auto;
    border:1px solid black;
    flex-direction: row;
    background-color:rgb(247, 255, 255);
}
.col-6 img{
    border-radius: 50%;

    width:180px;
    height: 120px;
    margin-left: 20px;
    margin-top: 60px;

}
.two img:hover{
    transition:  all 2s ease;
    width: 200px;
    height: 150px;
    border: 1px solid lightgray;

}
.border{
    width:200px;
    margin: 10px;
    border-radius: 100px;
    text-align: center;
    color: royalblue;
    margin-top: 50px;
}
.border:hover{
    background-color: aliceblue;
    color: lightgreen;
    border:1px solid lightgrey !important;
}
.border a{
    color: lightgreen;
    text-decoration: none;
}
.border a:hover{
    color: royalblue;

}
.span{
    text-transform: capitalize;
    color: royalblue;
    margin-left: 10px;
}
.one{
    margin: 40px auto;

}
.one img{
    border-radius: none;
    width: 400px;
    height: 350px;
    margin-left:100px;
    margin-bottom: 60px;
    border-radius: 100px;
}
.png1 img{
    width: 70px;
    height:60px;
    position: absolute;
    top:130px;
    right: 250px;
}
.png2 img{
    width: 70px;
    height:60px;
    position: absolute;
    top:250px;
    right: 650px;
}
.png3 img{
    width: 70px;
    height:60px;
    position: absolute;
    top:350px;
    right: 230px;
}
@media screen and (max-width:1333px){
    .png2,.png2 img{
    margin: 0px;
    /* margin-left: -200px; */
    position: absolute;
    top: 150px;
    right: 280px;
        border: 1px solid red;
    }
    
}
@media screen and (max-width:1200px){
    .col-6>.one{
        margin-right: 30px;
        border: 1px solid red;
        text-align: center;
    }
    .col-6>.one img{
        margin: 0px auto;
    }
    
}
@media screen and (max-width:1024px){
    .png2,.png2 img{
    margin: 0px;
    /* margin-left: -200px; */
    position: absolute;
    top: 150px;
    right: 240px;
        border: 1px solid red;
    }
    .png1,.png1 img{
        margin: 0px;
        /* margin-left: -200px; */
        position: absolute;
        top: 50px;
        right: 40px;
            border: 1px solid red;
    }
    
}
@media screen and (max-width:1200px){
    .col-6>.one{
        margin-right: 30px;
        border: 1px solid red;
        text-align: center;
    }
    .col-6>.one img{
        margin: 0px auto;
    }
    
}
@media screen and (max-width:786px){
    .png2,.png2 img{
    display: none;
    }
    .png1,.png1 img{
        margin: 0px;
        /* margin-left: -200px; */
        position: absolute;
        top: 50px;
        right: 40px;
            border: 1px solid red;
            display: none;
    }
    .png3{
        display: none;
    }
    .one,.one img{
        width: 80%;
        margin-top: 100px;
    }
    .row{
        flex-direction: row;
        flex-direction: row;
    }
    .one img{
        width: 100%;
    }
    
}
@media screen and (max-width:1200px){
    .col-6>.one{
        margin-right: 30px;
        border: 1px solid red;
        text-align: center;
    }
    .col-6>.one img{
        margin: 0px auto;
    }
    
}
@media screen and (max-width:360px){
    .one{
        display: none;
    }
    body{
        text-align: center;
    }
    
}
